
*.config
*.ide
*.ide-wal
*.txt
*.json
.vs/WebProgramApi/v15/.suo
.vs/WebProgramApi/v15/Server/sqlite3/db.lock
.vs/WebProgramApi/v15/Server/sqlite3/storage.ide-shm
WebProgramApi/obj/Debug/netcoreapp2.1/WebProgramApi.assets.cache
WebProgramApi/obj/Debug/netcoreapp2.1/WebProgramApi.csproj.FileListAbsolute.txt
WebProgramApi/obj/Debug/netcoreapp2.1/WebProgramApi.csprojAssemblyReference.cache
WebProgramApi/obj/project.assets.json
WebProgramApi/obj/WebProgramApi.csproj.nuget.cache
WebProgramApi/obj/WebProgramApi.csproj.nuget.g.props
WebProgramApi/obj/Debug/netcoreapp2.1/WebProgramApi.assets.cache
WebProgramApi/obj/Debug/netcoreapp2.1/WebProgramApi.csproj.FileListAbsolute.txt
WebProgramApi/obj/Debug/netcoreapp2.1/WebProgramApi.csprojAssemblyReference.cache
WebProgramApi/obj/project.assets.json
WebProgramApi/obj/WebProgramApi.csproj.nuget.cache
WebProgramApi/obj/WebProgramApi.csproj.nuget.g.props
